---
import ImageMod from "@/components/ImageMod.astro";
import { markdownify } from "@/lib/utils/textConverter";
const { call_to_action } = Astro.props;
---

{
  call_to_action.data.enable && (
    <section class="mb-28">
      <div class="container">
        <div class="mx-auto mb-12 text-center md:col-10 lg:col-8 xl:col-6">
          <div class="row items-center text-center ">
            
 
         
              {call_to_action.data.button.enable && (
                <a
                  class="btn btn-primary"
                  href={call_to_action.data.button.link}
                >
                  {call_to_action.data.button.label}
                </a>
              )}
            
          </div>
        </div>
      </div>
    </section>
  )
}
